
.vieja-escuela.sheet.actor {
    min-width: 700px;
    min-height: 600px;
}

.vieja-escuela.sheet .avatar img {
    flex: 0 0 160px;
    max-width: 160px;
    height: 160px;
}

.vieja-escuela.sheet .avatar img:hover {
    box-shadow: 0 0 10px var(--color-highlight);
    cursor: pointer;
}

.vieja-escuela.sheet .sheet-header h1.charname {
    height: 60px;
    padding: 0;
}

.vieja-escuela.sheet .sheet-header h1.charname input {
    height: 40px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid var(--color-label);
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
}

.vieja-escuela.sheet label.velabel {
    font-size: var(--size-label);
    vertical-align: top;
    color: var(--color-label);
}

.vieja-escuela.sheet .sheet-header ul.level-box {
    list-style: none;
    max-width: 8em;
    margin: 0;
    padding: 0;
    position: relative;
    top: 20px; 
  }

.vieja-escuela.sheet .sheet-header ul.level-box input {
    height: 20px;
    margin: 0;
    border: 1px solid var(--color-label);
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}

.vieja-escuela.sheet .sheet-header ul.summary {
    list-style: none;
    margin: 0;
    padding: 0;
}

.vieja-escuela.sheet .sheet-header ul.summary input {
    height: 20px;
    margin: 0;
    border: 1px solid var(--color-label);
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}

.vieja-escuela.sheet .sheet-header ul.traits {
    list-style: none;
    margin: 0;
    padding: 0;
}

.vieja-escuela.sheet ul.traits li {
    height: 60px;
    margin: 0 0 0 0;
    border: 2px groove #eeede0;
    border-radius: 4px;
    text-align: center;
}

.vieja-escuela.sheet ul.traits div {
    margin: 0.5rem 0 0 0;
}

.vieja-escuela.sheet ul.traits span {
    font-size: 15px;
    margin: 4px 0 0 0;
    max-width: 0.5em;
}

.vieja-escuela.sheet ul.traits input {
    font-size: var(--attribute-size);
    margin: 0 0 0 0;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}

.vieja-escuela .sheet-body .tab,
.vieja-escuela .sheet-body .tab .editor {
  height: 100%;
}

.vieja-escuela .tox .tox-editor-container {
  background: #fff;
}

.vieja-escuela.sheet .skills-tab h3.subhead {
    flex: 0;
    border: 1px solid black;
    border-radius: 0px;
    background-color: lightgray;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.vieja-escuela.sheet .attributes {
    font-size: var(--attribute-size);
    font-style: italic;
    font-weight: bold;
}

.vieja-escuela.sheet .attributes label{
    text-align: center;
    margin: 4px 0 0 0;
}

.vieja-escuela.sheet .attributes input{
    max-width: 3em;
    border: 2px groove black;
    border-radius: 4px;
    text-align: center;
    height: auto;
}

.vieja-escuela.sheet .attributes span{
    border: 2px groove #eeede0;
    border-radius: 4px;
    text-align: center;
    color: var(--color-label);
}

.vieja-escuela.sheet .skills {
    font-size: var(--attribute-size);
}

.vieja-escuela.sheet .skills label{
    margin: 5px 1em 0 0;
    text-align: right;
}

.vieja-escuela.sheet .skills input{
    max-width: 3em;
    border: 2px groove black;
    border-radius: 4px;
    text-align: center;
    height: auto;
}

.vieja-escuela.sheet .backgrounds ol,
.vieja-escuela.sheet .talents ol{
    padding: 0;
}

.vieja-escuela.sheet .backgrounds img,
.vieja-escuela.sheet .talents img {
    flex: 0 0 24px;
    max-width: 24px;
    height: 24px;
    margin: 5px;
}

.vieja-escuela.sheet .backgrounds h4,
.vieja-escuela.sheet .talents h4 {
    padding-top: 8px;
}

.vieja-escuela.sheet .backgrounds .talent-buttons,
.vieja-escuela.sheet .talents .talent-buttons {
    flex: 0 0 3em;
    max-width: 3em;
    height: auto;
    text-align: center;
    padding-top: 8px;
}

.vieja-escuela.sheet .gear ol {
    padding: 0;
}

.vieja-escuela.sheet .gear li.gear-header {
    border: 1px solid black;
    border-radius: 0px;
    background-color: lightgray;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.storable:hover,
.storable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.vieja-escuela.sheet .gear table td,
.vieja-escuela.sheet .gear table th {
    padding: 0;
}

.vieja-escuela.sheet .gear .item-list {
    width: 100%;
}

.vieja-escuela.sheet .gear img.item-image {
    flex: 0 0 20px;
    max-width: 20px;
    height: 20px;
    margin: 2px 5px 2px 2px;
}

.vieja-escuela.sheet .gear td.gear-values {
    text-align: center;
}

.vieja-escuela.sheet .gear span.gear-name {
    padding: 2px 0 0 0;
}
