<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-image-col">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
            <div class="flexrow flex-group-center">                              
                <label for="data.header.level.value" class="resource-label">{{localize "VEJDR.Level"}}</label>
                <input type="text" name="data.header.level.value" value="{{data.header.level.value}}" data-dtype="Number"/>
            </div>
            <div class="flexrow flex-group-center">
                <label for="data.header.xp.value" class="resource-label">{{localize "VEJDR.XP"}}</label>
                <input type="text" name="data.header.xp.value" value="{{data.header.xp.value}}" data-dtype="Number"/>
            </div>
        </div>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'VEJDR.Name'}}"/></h1>
            <div class="grid grid-3col">
                <div class="flexrow flex-group-center">
                    <label for="data.header.race.value" class="resource-label">{{localize "VEJDR.Race"}}</label>
                    <input type="text" name="data.header.race.value" value="{{data.header.race.value}}" data-dtype="String"/>
                </div>
                <div class="flexrow flex-group-center">
                    <label for="data.header.class.value" class="resource-label">{{localize "VEJDR.Class"}}</label>
                    <input type="text" name="data.header.class.value" value="{{data.header.class.value}}" data-dtype="String"/>
                </div>
                <div class="flexrow flex-group-center">
                    <label for="data.traits.mov.value" class="resource-label">{{localize "VEJDR.Mov"}}</label>
                    <input type="text" name="data.traits.mov.value" value="{{data.traits.mov.value}}" data-dtype="Number"/>
                </div>
            </div>
            <div class="grid grid-3col">
                {{#each data.attributes as |attribute key|}}
                <div class="flexrow flex-group-center">
                    <label for="data.attributes.{{key}}.value" class="rollable resource-label" data-roll="1d20 + {{attribute.mod}}" data-label="{{localize attribute.label}}">{{localize attribute.label}}</label>
                    <input type="text" name="data.attributes.{{key}}.value" value="{{attribute.value}}" data-dtype="Number"/>
                    <span>{{numberFormat attribute.mod decimals=0 sign=true}}</span>
                </div>
                {{/each}}
            </div>
            <div class="grid grid-2col">
                <div class="flexrow flex-group-center">
                    <label for="data.traits.hp.value" class="resource-label">{{localize "VEJDR.HP"}}</label>
                    <input type="text" name="data.traits.hp.value" value="{{data.traits.hp.value}}" data-dtype="Number"/>
                    <span> / </span>
                    <input type="text" name="data.traits.hp.max" value="{{data.traits.hp.max}}" data-dtype="Number"/>
                </div>
                <div class="flexrow flex-group-center">
                    <label for="data.traits.mp.value" class="resource-label">{{localize "VEJDR.MP"}}</label>
                    <input type="text" name="data.traits.mp.value" value="{{data.traits.mp.value}}" data-dtype="Number"/>
                    <span> / </span>
                    <input type="text" name="data.traits.mp.max" value="{{data.traits.mp.max}}" data-dtype="Number"/>
                </div>
            </div>
            <div class="grid grid-3col">
                <div class="flexrow flex-group-center">
                    <label for="data.traits.atk.value" class="resource-label">{{localize "VEJDR.Atk"}}</label>
                    <input type="text" name="data.traits.atk.value" value="{{data.traits.atk.value}}" data-dtype="Number"/>
                </div>
                <div class="flexrow flex-group-center">
                    <label for="data.traits.def.value" class="resource-label">{{localize "VEJDR.Def"}}</label>
                    <input type="text" name="data.traits.def.value" value="{{data.traits.def.value}}" data-dtype="Number"/>
                </div>
                <div class="flexrow flex-group-center">
                    <label for="data.traits.ins.value" class="insroll resource-label" data-roll="1d20 + {{data.traits.ins.value}}" data-label="{{localize 'VEJDR.Ins'}}">{{localize "VEJDR.Ins"}}</label>
                    <input type="text" name="data.traits.ins.value" value="{{data.traits.ins.value}}" data-dtype="Number"/>
                </div>
            </div>
        </div>
    </header>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="bio">Bio</a>
        <a class="item" data-tab="skills">{{localize "VEJDR.Skills"}}</a>
        <a class="item" data-tab="combat">{{localize "VEJDR.Combat"}}</a>
        <a class="item" data-tab="gear">{{localize "VEJDR.Gear"}}</a>
        <a class="item" data-tab="spells">{{localize "VEJDR.Spells"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Biography Tab --}}
        <div class="tab bio" data-group="primary" data-tab="bio">
            <div class="grid grid-2col">
                <div>
                    <div>{{VEJDR.Backgrounds}}</div>
                    <div>{{editor content=data.backgrounds target="data.backgrounds" button=true owner=owner editable=editable}}</div>
                </div>
                <div>
                    <div>{{VEJDR.Description}}</div>
                    <div>{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}</div>
                </div>
            </div>
        </div>

        {{!-- Owned Skills Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
            <div class="grid grid-2col">
                <div>
                    <ol class="items-list">
                    {{#each data.skills as |skill key|}}
                        <li class="item flexrow">
                            <h4 class="rollable resource-label" data-roll="1d20 + {{skill.value}}" data-label="{{localize skill.label}}">{{localize skill.label}}</h4>
                            <input type="text" name="data.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number"/>
                        </li>
                    {{/each}}
                    </ol>
                </div>
                <div>
                    <ol class="items-list">
                        <li class="item flexrow item-header">
                        <div class="item-image"></div>
                        <div class="item-name">{{localize "VEJDR.Talents"}}</div>
                        <div class="item-controls">
                            <a class="item-control item-create" title="{{localize 'VEJDR.AddTalent'}}" data-type="talent"><i class="fas fa-plus"></i>{{localize "VEJDR.AddTalent"}}</a>
                        </div>
                        </li>
                    {{#each talents as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                            <h4 class="item-name">{{item.name}}</h4>
                            <div class="item-controls">
                                <a class="item-control item-edit" title="{{localize 'VEJDR.ModItem'}}"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="{{localize 'VEJDR.DelItem'}}"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                    </ol>
                </div>
            </div>
        </div>

        {{!-- Owned Weapons Tab --}}
        <div class="tab items" data-group="primary" data-tab="combat">
            <ol class="items-list">
                <li class="item flexrow item-header">
                    <div class="item-image"></div>
                    <div class="item-name">{{localize "VEJDR.Weapons"}}</div>
                    <div class="item-name"></div>
                    <div class="item-name">{{localize "VEJDR.HandToHand"}}</div>
                    <div class="item-name">{{localize "VEJDR.Missile"}}</div>
                    <div class="item-name">{{localize "VEJDR.Damage"}}</div>
                    <div class="item-name">{{localize "VEJDR.Range"}}</div>
                </li>
            {{#each weapons as |weapon id|}}
                <li class="item flexrow" data-item-id="{{weapon._id}}">
                    <div class="item-image"><img src="{{weapon.img}}" title="{{weapon.name}}" width="24" height="24"/></div>
                    <h4 class="item-name">{{weapon.name}}</h4>
                    <span></span>
                    <span class="attackroll resource-label" data-damage="{{weapon.data.damage}}" data-roll="1d20 + {{weapon.data.cacmod}}" data-label="{{weapon.name}}">{{numberFormat weapon.data.cacmod decimals=0 sign=true}}</span>
                    <span class="attackroll resource-label" data-damage="{{weapon.data.damage}}" data-roll="1d20 + {{weapon.data.prjmod}}" data-label="{{weapon.name}}">{{numberFormat weapon.data.prjmod decimals=0 sign=true}}</span>
                    <span>{{weapon.data.damage}}</span>
                    <span>{{weapon.data.range}}</span>
                </li>
            {{/each}}
            </ol>
            <ol class="items-list">
                <li class="item flexrow item-header">
                    <div class="item-image"></div>
                    <div class="item-name">{{localize "VEJDR.Armor"}}</div>
                    <div class="item-name"></div>
                    <div class="item-name">{{localize "VEJDR.Def"}}</div>
                    <div class="item-name"></div>
                    <div class="item-name"></div>
                    <div class="item-name"></div>
                </li>
            {{#each armor as |armor id|}}
                <li class="item flexrow" data-item-id="{{armor._id}}">
                    <div class="item-image"><img src="{{armor.img}}" title="{{armor.name}}" width="24" height="24"/></div>
                    <h4 class="item-name">{{armor.name}}</h4>
                    <span></span>
                    <span>{{numberFormat armor.data.defmod decimals=0 sign=true}}</span>
                    <span></span>
                    <span></span>
                    <span></span>
                </li>
            {{/each}}
            </ol>
        </div>

        {{!-- Owned Gear Tab --}}
        <div class="tab items" data-group="primary" data-tab="gear">
            <ol class="items-list">
                <li class="item flexrow item-header">
                <div class="item-image"></div>
                <div class="item-name">{{localize "VEJDR.Name"}}</div>
                <div class="item-controls">
                    <a class="item-control item-create" title="{{localize 'VEJDR.AddItem'}}" data-type="gear"><i class="fas fa-plus"></i> {{localize "VEJDR.AddItem"}}</a>
                </div>
                </li>
            {{#each gear as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="{{localize 'VEJDR.ModItem'}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize 'VEJDR.DelItem'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>

        {{!-- Owned Spells Tab --}}
        <div class="tab spells" data-group="primary" data-tab="spells">
            <ol class="items-list">
                <li class="item flexrow item-header">
                <div class="item-image"></div>
                <div class="item-name">{{localize "VEJDR.Name"}}</div>
                <div class="item-controls"></div>
                </li>
            {{#each spells as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="{{localize 'VEJDR.ModItem'}}"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="{{localize 'VEJDR.DelItem'}}"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>
    </section>
</form>

