<div class="avatar flex0">
    <img class="profile-img" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
</div>
<section class="flex1">
    <div class="flexrow">
    <h1 class="charname flexcol">
        <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'VEJDR.Name'}}"/>
        <label class="velabel">{{localize 'VEJDR.Name'}}</label>
    </h1>
    <ul class="level-box flexrow">
        <li>
            <input name="data.header.level.value" type="text" value="{{data.header.level.value}}" data-dtype="Number"/>
            <label class="velabel">{{localize "VEJDR.Level"}}</label>
        </li>
        <li>
            <input name="data.header.xp.value" type="text" value="{{data.header.xp.value}}" data-dtype="Number"/>
            <label class="velabel">{{localize "VEJDR.XP"}}</label>
        </li>
    </ul>
    </div>
    <div class="flexrow">
    <ul class="summary flexrow">
        <li>
            <input type="text" name="data.header.class.value" value="{{data.header.class.value}}" data-dtype="String"/>
            <label class="velabel">{{localize "VEJDR.Class"}}</label>
        </li>
        <li>
            <input type="text" name="data.header.race.value" value="{{data.header.race.value}}" data-dtype="String"/>
            <label class="velabel">{{localize "VEJDR.Race"}}</label>
        </li>
        <li style="max-width: 8em;">
            <input type="text" name="data.traits.mov.value" value="{{data.traits.mov.value}}" data-dtype="Number"/>
            <label class="velabel">{{localize "VEJDR.Mov"}}</label>
        </li>
    </ul>
    </div>
    <div class="flexrow">
    <ul class="traits flexrow">
        <li>
            <div class="flexrow">
                <input type="text" name="data.traits.hp.value" value="{{data.traits.hp.value}}" data-dtype="Number"/>
                <span>|</span>
                <input type="text" name="data.traits.hp.max" value="{{data.traits.hp.max}}" data-dtype="Number"/>
            </div>
            <h4>{{localize "VEJDR.HP"}}</h4>
        </li>
        <li>
            <div class="flexrow">
                <input type="text" name="data.traits.mp.value" value="{{data.traits.mp.value}}" data-dtype="Number"/>
                <span>|</span>
                <input type="text" name="data.traits.mp.max" value="{{data.traits.mp.max}}" data-dtype="Number"/>
            </div>
            <h4>{{localize "VEJDR.MP"}}</h4>
        </li>
        <li>
            <div class="flexrow">
                <input type="text" name="data.traits.atk.value" value="{{numberFormat data.traits.atk.value decimals=0 sign=true}}" data-dtype="Number"/>
            </div>
            <h4>{{localize "VEJDR.Atk"}}</h4>
        </li>
        <li>
            <div class="flexrow">
                <input type="text" name="data.traits.def.value" value="{{data.traits.def.value}}" data-dtype="Number"/>
            </div>
            <h4>{{localize "VEJDR.Def"}}</h4>
        </li>
        <li>
            <div class="flexrow">
                <input type="text" name="data.traits.ins.value" value="{{numberFormat data.traits.ins.value decimals=0 sign=true}}" data-dtype="Number"/>
            </div>
            <h4 class="insroll" data-roll="1d20 + {{data.traits.ins.value}}" data-label="{{localize 'VEJDR.Ins'}}">{{localize "VEJDR.Ins"}}</h4>
        </li>
    </ul>
    </div>
</section>
