<table class="items-list">
    <colgroup>
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 10%;">
     </colgroup>
    <thead class="item gear-header">
        <th class="item-name">{{localize "VEJDR.Weapons"}}</th>
        <th class="item-name">{{localize "VEJDR.Attacks"}}</th>
        <th class="item-name">{{localize "VEJDR.Attack"}}</th>
        <th class="item-name">{{localize "VEJDR.Range"}}</th>
        <th class="item-name">{{localize "VEJDR.Damage"}}</th>
        <th class="add-button">
            <a class="item-control item-create" title="{{localize 'VEJDR.AddItem'}}" data-type="weapon">
                <i class="fas fa-plus"></i>
            </a>
        </th>
    </thead>
    <tbody>
        {{#each weapons as |item id|}}
        <tr class="item" data-item-id="{{item._id}}">
            <td class="flexrow">
                <img class="item-image" src="{{item.img}}" title="{{item.name}}" width="20" height="20"/>
                <span class="gear-name">{{item.name}}</span>
            </td>
            <td class="gear-values">{{item.data.attacks}}</td>
            <td class="gear-values">
                <span class="attackroll gear-name" data-damage="{{item.data.damage}}" data-roll="1d20 + {{item.data.attackmod}}" data-label="{{item.name}}">{{numberFormat item.data.attackmod decimals=0 sign=true}}</span>
            </td>
            <td class="gear-values">{{item.data.range}}</td>
            <td class="gear-values">{{item.data.damage}}</td>
            <td class="gear-values">
                <div class="item-controls">
                    <a class="item-control item-edit" title="{{localize 'VEJDR.ModItem'}}"><i class="fas fa-edit"></i></a>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<table class="items-list">
    <colgroup>
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 45%;">
        <col span="1" style="width: 10%;">
     </colgroup>
    <thead class="item gear-header">
        <th class="item-name">{{localize "VEJDR.Armor"}}</th>
        <th class="item-name">{{localize "VEJDR.ItemDef"}}</th>
        <th></th>
        <th class="add-button">
            <a class="item-control item-create" title="{{localize 'VEJDR.AddItem'}}" data-type="armor">
                <i class="fas fa-plus"></i>
            </a>
        </th>
    </thead>
    <tbody>
        {{#each armor as |item id|}}
        <tr class="item" data-item-id="{{item._id}}">
            <td class="flexrow">
                <img class="item-image" src="{{item.img}}" title="{{item.name}}" width="20" height="20"/>
                <span class="gear-name">{{item.name}}</span>
            </td>
            <td class="gear-values">{{numberFormat item.data.defmod decimals=0 sign=true}}</td>
            <td class="gear-values"></td>
            <td class="gear-values">
                <div class="item-controls">
                    <a class="item-control item-edit" title="{{localize 'VEJDR.ModItem'}}"><i class="fas fa-edit"></i></a>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
