<div class="notes-list flexcol">
    <div>
        <h3 class="subhead">{{localize "VEJDR.Story"}}</h3>
        <div class="textinfo">{{editor content=data.story target="data.story" button=true owner=owner editable=editable}}</div>
    </div>
    <h3 class="subhead flexrow">
        <i>{{localize "VEJDR.Allies"}}</i>
        <i>{{localize "VEJDR.Enemies"}}</i>
    </h3>
    <div class="flexrow">
        <div>        
            <div class="textinfo">{{editor content=data.allies target="data.allies" button=true owner=owner editable=editable}}</div>
        </div>
        <div>
            <div class="textinfo">{{editor content=data.enemies target="data.enemies" button=true owner=owner editable=editable}}</div>
        </div>
    </div>
</div>