<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="flex0">
            <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
        </div>
        <section class="flex1">
            <div class="name-line flexrow">
                <h1 class="charname flexcol">
                    <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'VEJDR.Name'}}"/>
                    <label class="velabel">{{localize 'VEJDR.Name'}}</label>
                </h1>
            </div>
            <ul class="flexrow">
                <li>
                    <input class="valuebox" type="text" name="data.number" value="{{data.number}}" data-dtype="Number"/>
                    <label class="velabel">{{localize "VEJDR.Number"}}</label>
                </li>
                <li>
                    <input class="valuebox" type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
                    <label class="velabel">{{localize "VEJDR.Weight"}}</label>
                </li>
                <li>
                    <input class="valuebox" type="text" name="data.capacity" value="{{data.capacity}}" data-dtype="Number"/>
                    <label class="velabel">{{localize "VEJDR.Capacity"}}</label>
                </li>
            </ul>
        </section>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "VEJDR.Description"}}</a>
    </nav>

    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
